.a-event {
  position: relative;
  display: block;
  padding: 40px 0 40px 60px;
}

.a-event:hover {
  color: var(--colorTextHover);
}

.a-event__datetag {
  position: absolute;
  top: 42px;
  left: 0;
  width: 45px;
  height: 45px;
  text-align: center;
}

.a-event__date__day {
  display: inline-block;
  width: 100%;
  margin-bottom: 6px;
  font-size: 18px;
  font-family: var(--fontFamilyTitle);
}

.a-event__date__month {
  font-size: 11px;
}

.a-event__title {
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 15px;
}

.a-event__date {
  display: inline-block;
  font-size: 12px;
  padding-bottom: 15px;
}
