:root {
	/* Colors */
	--primary: rgba(255, 68, 0, 1);
	--highlight: rgba(254, 213, 198, 1);
	--white: rgba(255, 255, 255, 1);
	--off-white: rgba(255, 253, 252, 1);
	--grey-1: rgba(245, 243, 242, 1);
	--grey-2: rgba(235, 231, 230, 1);
	--grey-3: rgba(89, 87, 86, 1);
	--grey-4: rgba(66, 64, 64, 1);
	--black: rgba(43, 37, 35, 1);


  --colorBackground: #F6F4EF; /*f4f0e9*/
  --colorBackgroundDark: #673418;

  --colorText: #3E3E3E;
	--colorTextContrast: #686868;
  --colorTextLight: #ffffff;

	--colorSeparator: #D9D9D9;
}
